<div class="col-sm-3"></div>
<div class="col-sm-6" class="img-responsive">
    <div id="content" style="background-color: hsla(0, 100%, 100%, 0.6);">
        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img style="padding-left: 80px;" src="/img/Java-House.jpg" alt="" class="img-responsive">
                <br>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div  class="row img-responsive">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img style="padding-left: 30px; padding-top: -10px;" class="img-responsive" src="/img/mpesa.gif" alt="">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="text-center">
            <br>
            <p style=" font-weight: bold;">To complete transaction, enter MPESA pin on your phone and confirm payment</p>
            <br>
            <p class="text-danger">{{mpesaError}}</p>
            <p class="text-danger">{{mpesaFinishError}}</p>
            <br> {{#if mpesaError}}
            <a href="/premium">
                <button id="restart_transaction" class="btn btn-success">Restart Transaction</button>
            </a>
            {{else}}
            <a href="/stkpushquery">
                <button id="confirmPayment" class="btn btn-success">Confirm payment</button>
            </a>
            {{/if}}
            <br>
            <br>
            <p>Powered by <a href="http://brandfi.co.ke" target="_blank" style="text-decoration: none;  color: #26a69a;">BRAND-fi</a></p>
        </div>
        <br>
    </div>
    <div class="col-sm-3 "></div>
    <script>
    // $(document).ready(function() {

    $(function() {
        $('body').css({ "background-image": "url('/img/coffee.jpeg')", "background-color": "white", "background-repeat":"no-repeat", "background-size": "cover" });
        $("#confirmPayment").click(function() {
           
            delete sessionStorage['mpesaFinishError'];
            
        });

    });
    </script>
    <!-- <div id="content">
    <div id="container">
        <div class="header">
            <div id="icon_cell">
                <h1>Success!</h1>
                <p>
                    Continue on to
                    <br>
                    <a href={{continue_url}}>{{continue_url}}</a>
                </p>
            </div>
        </div>
        <div id="icon_cell">
            {{#if logout_url_continue}}
            <h1><a style="color: green; text-decoration: none;" href={{logout_url_continue}}>LOGOUT</a></h1> {{/if}}
        </div>
        <p>
            Brought to you by <a href="http://brandfi.co.ke" target="blank" style="color: #26a69a;">BRAND-fi</a>
        </p>
    </div>
</div> -->